# Importando as bibliotecas necessárias

In [1]:
import os
import sys
import time
import datetime
import numpy as np
import pandas as pd
import pathlib
import getpass
import geopandas as gpd
import geoplot.crs as gcrs
import geoplot as gplt
import matplotlib.pyplot as plt
import matplotlib as ptl
import pymysql
import seaborn as sns

import plotly.express as px
from plotly.subplots import make_subplots


import pandas.io.sql as psql

#from cartopy import crs as ccrs

# Importando as bibliotecas necessárias
import pymysql
import sqlalchemy

PROJ: proj_create_from_database: Cannot find proj.db

# Criando a conexão

In [4]:
p = getpass.getpass()
connection = pymysql.connect(host='localhost', port=3306, user='root', passwd=p) #, db='mysql')
cursor = connection.cursor()
connection.autocommit(True)

········

OperationalError: (1045, "Access denied for user 'root'@'localhost' (using password: YES)")

# Importando e limpando os dados

## Geometria

In [ ]:
geometria = gpd.read_file('.//bases_de_dados//geojs-35-mun.json')

#geometria.rename(columns={"geometry":"poligono"}, inplace = True)

geometria.set_index("id", drop=True, inplace=True)

print(geometria.dtypes)
geometria.head(3)

Conferindo se as colunas nome e descrição são iguais

In [ ]:
contador = 0
for row in geometria.iterrows():
    if row[1]["name"] != row[1]["description"]:
        print("Existe nome diferente da descrição")
        contador += 1
if contador == 0:
    print("As duas colunas são iguais")

Verificando o nome de maior tamanho na coluna

In [ ]:
geometria["name"].apply(lambda x: len(x)).max()

Removendo a coluna `description`

In [ ]:
geometria.drop('description', axis='columns', inplace=True)
geometria.head(3)

## IDESP das Escolas

In [ ]:
idesp = pd.read_csv('.//bases_de_dados//escola_IDESP.csv')
idesp = idesp[~np.isnan(idesp["id_municipio"])]
idesp["id_municipio"] = idesp["id_municipio"].apply(lambda x: int(x))
#idesp.index.name = "index"
#idesp.set_index("id_municipio", drop=True, inplace=True)

idesp.head(3)

In [ ]:
# for i in idesp["id_municipio"]:
#     try:
#         abacate = int(i)
#     except:
#         print(np.isnan(i))

## Nível Sócio Economico das Escolas

In [ ]:
escolas_nse = pd.read_csv('.//bases_de_dados//escola_nse.csv')
#escolas_nse.set_index("id_municipio", drop=True, inplace=True)

escolas_nse.head(3)

## Fluxo Escolar

In [ ]:
fluxo_escolar = pd.read_csv('.//bases_de_dados//fluxo_escolar.csv')
fluxo_escolar = fluxo_escolar[~np.isnan(fluxo_escolar["id_municipio"])]
fluxo_escolar["id_municipio"] = fluxo_escolar["id_municipio"].apply(lambda x: int(x))

fluxo_escolar = fluxo_escolar[~(fluxo_escolar["prop_aprovados_em"] > 100)]
fluxo_escolar = fluxo_escolar[~(fluxo_escolar["prop_reprovados_em"] > 100)]
fluxo_escolar = fluxo_escolar[~(fluxo_escolar["prop_abandono_em"] > 100)]

#fluxo_escolar.set_index("id_municipio", drop=True, inplace=True)

fluxo_escolar.head(3)

## Ocorrências Registrasdas em São Paulo

In [ ]:
ocorrencias_sp = pd.read_csv('.//bases_de_dados//ocorrencias_registradas.csv')
#ocorrencias_sp.set_index("id_municipio", drop=True, inplace=True)

ocorrencias_sp.head(3)

### População

In [ ]:
populacao_brasil = pd.read_csv('.//bases_de_dados//municipio.csv')
populacao_sp = populacao_brasil[populacao_brasil["id_municipio"].isin(geometria.index.astype(int))].copy()

populacao_sp.head(3)

# Criando o banco de dados e as tabelas no MySQL

## Criando o banco de dados

Apagando a base de dados caso exista e criando de novo

In [ ]:
cursor.execute("DROP DATABASE IF EXISTS educacao_sao_paulo;")
cursor.execute("create database educacao_sao_paulo;")

## Criando as tabelas

In [ ]:
cursor.execute("use educacao_sao_paulo;")

### Geometria

Criando a tabela de geometria

In [ ]:
cursor.execute("""CREATE TABLE geometria (
    id int NOT NULL,
    name varchar(40) NOT NULL,
    geometry polygon NOT NULL,
    CONSTRAINT geometria_pk PRIMARY KEY (id)
);""")

### Nível Sócio Econômico das Escolas

In [ ]:
cursor.execute("""CREATE TABLE escola_nse (
    id int NOT NULL AUTO_INCREMENT,
    id_municipio int NOT NULL,
    rede varchar(40) NOT NULL,
    diretoria varchar(40) NOT NULL,
    id_escola_sp int NOT NULL,
    id_escola int NOT NULL,
    nivel_socio_economico float(6,3) NULL,
    CONSTRAINT escola_nse_pk PRIMARY KEY (id)
);
                """)

### Fluxo Escolar

In [ ]:
cursor.execute("""CREATE TABLE fluxo_escolar (
    id int NOT NULL AUTO_INCREMENT,
    id_municipio int NOT NULL,
    ano int NOT NULL,
    sigla_uf varchar(2) NOT NULL,
    rede varchar(40) NULL,
    diretoria varchar(40) NOT NULL,
    id_escola int NOT NULL,
    id_escola_sp int NOT NULL,
    codigo_tipo_escola int NULL,
    prop_aprovados_anos_inciais_ef float(11,8) NULL,
    prop_reprovados_anos_iniciais_ef float(11,8) NULL,
    prop_abandono_anos_iniciais_ef float(11,8) NULL,
    prop_aprovados_anos_finais_ef float(11,8) NULL,
    prop_reprovados_anos_finais_ef float(11,8) NULL,
    prop_abandono_anos_finais_ef float(11,8) NULL,
    prop_aprovados_em float(11,8) NULL,
    prop_reprovados_em float(11,8) NULL,
    prop_abandono_em float(11,8) NULL,
    CONSTRAINT fluxo_escolar_pk PRIMARY KEY (id)
);
                """)

### IDESP das Escolas

In [ ]:
cursor.execute("""CREATE TABLE idesp (
    id int NOT NULL AUTO_INCREMENT,
    id_municipio int NOT NULL,
    ano int NOT NULL,
    id_escola int NOT NULL,
    id_escola_sp int NOT NULL,
    nota_idesp_ef_iniciais float(6,3) NULL,
    nota_idesp_ef_finais float(6,3) NULL,
    nota_idesp_em float(6,3) NULL,
    CONSTRAINT idesp_pk PRIMARY KEY (id)
);
                """)

### Ocorrências Registradas em São Paulo

In [ ]:
cursor.execute("""CREATE TABLE ocorrencias_sp (
    id int NOT NULL AUTO_INCREMENT,
    id_municipio int NOT NULL,
    ano int NOT NULL,
    mes int NOT NULL,
    regiao_ssp varchar(40) NOT NULL,
    homicidio_doloso int NULL,
    numero_de_vitimas_em_homicidio_doloso int NULL,
    homicidio_doloso_por_acidente_de_transito int NULL,
    numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito int NULL,
    homicidio_culposo_por_acidente_de_transito int NULL,
    homicidio_culposo_outros int NULL,
    tentativa_de_homicidio int NULL,
    lesao_corporal_seguida_de_morte int NULL,
    lesao_corporal_dolosa int NULL,
    lesao_corporal_culposa_por_acidente_de_transito int NULL,
    lesao_corporal_culposa_outras int NULL,
    latrocinio int NULL,
    numero_de_vitimas_em_latrocinio int NULL,
    total_de_estupro int NULL,
    estupro int NULL,
    estupro_de_vulneravel int NULL,
    total_de_roubo_outros int NULL,
    roubo_outros int NULL,
    roubo_de_veiculo int NULL,
    roubo_a_banco int NULL,
    roubo_de_carga int NULL,
    furto_outros int NULL,
    furto_de_veiculo int NULL,
    CONSTRAINT ocorrencias_sp_pk PRIMARY KEY (id)
);
                """)

### População de São Paulo

In [ ]:
cursor.execute("""
CREATE TABLE populacao_sp (
    id int NOT NULL AUTO_INCREMENT,
    ano int NOT NULL,
    sigla_uf varchar(2) NOT NULL,
    id_municipio int NOT NULL,
    populacao int NULL,
    CONSTRAINT populacao_sp_pk PRIMARY KEY (id)
);
                """)

# Populando as tabelas

## Geometria

In [ ]:
for row in geometria.iterrows():
    
    data = (row[0], row[1]["name"], row[1]["geometry"].wkt)
    sql = """INSERT INTO geometria (id, name, geometry) VALUES (%s, %s, ST_GeomFromText(%s, 0))"""
    
    cursor.execute(sql,data)

## IDESP das Escolas

In [ ]:
from sqlalchemy import create_engine
conectar = f'mysql+pymysql://root:{p}@localhost/educacao_sao_paulo'
engine = create_engine(conectar)

In [ ]:
idesp.to_sql('idesp', con=engine, index=False, if_exists="append")

## Nível Sócio Economico das Escolas

In [ ]:
escolas_nse.to_sql('escola_nse', con=engine, index=False, if_exists="append")

## Fluxo Escolar

In [ ]:
fluxo_escolar.to_sql('fluxo_escolar', con=engine, index=False, if_exists="append")

## Ocorrências Registrasdas em São Paulo

In [ ]:
ocorrencias_sp.to_sql('ocorrencias_sp', con=engine, index=False, if_exists="append")

## População de São Paulo

In [ ]:
populacao_sp.to_sql('populacao_sp', con=engine, index=False, if_exists="append")

# Adicionando as Foreign Keys

In [ ]:
cursor.execute("""
ALTER TABLE escola_nse ADD CONSTRAINT escola_nse_geometria FOREIGN KEY escola_nse_geometria (id_municipio)
    REFERENCES geometria (id);
""")

cursor.execute("""
ALTER TABLE fluxo_escolar ADD CONSTRAINT fluxo_escolar_geometria FOREIGN KEY fluxo_escolar_geometria (id_municipio)
    REFERENCES geometria (id);
""")

cursor.execute("""
ALTER TABLE idesp ADD CONSTRAINT idesp_geometria FOREIGN KEY idesp_geometria (id_municipio)
    REFERENCES geometria (id);
""")

cursor.execute("""
ALTER TABLE ocorrencias_sp ADD CONSTRAINT ocorrencias_sp_geometria FOREIGN KEY ocorrencias_sp_geometria (id_municipio)
    REFERENCES geometria (id);
""")

cursor.execute("""
ALTER TABLE populacao_sp ADD CONSTRAINT populacao_sp_geometria FOREIGN KEY populacao_sp_geometria (id_municipio)
    REFERENCES geometria (id);
""")

# Importando os dados para o pandas e o geopandas

## Geometria

In [ ]:
#from shapely import wkt
mapassp = psql.read_sql('SELECT id, name, ST_AsWKT(geometry) as geometry FROM geometria;', con=connection)
#df_mysql["poligono"] = gpd.GeoSeries.from_wkt(df_mysql["poligono"])


#df_mysql["geometry"]

mapassp['geometry'] = gpd.GeoSeries.from_wkt(mapassp['geometry'])
mapassp = gpd.GeoDataFrame(mapassp, geometry="geometry")

print(mapassp.dtypes)
mapassp.head(3)

## Nível Sócio Econômico

In [ ]:
sp_nse = psql.read_sql('SELECT * FROM escola_nse;', con=connection)
sp_nse.head(3)

## IDESP das Escolas

In [ ]:
sp_idesp = psql.read_sql('SELECT * FROM idesp;', con=connection)
sp_idesp = gpd.GeoDataFrame(sp_idesp)
sp_idesp.head(3)

## Fluxo Escolar

In [ ]:
sp_fluxo_escolar = psql.read_sql('SELECT * FROM fluxo_escolar;', con=connection)
sp_fluxo_escolar.head(3)

## Ocorrências Registrasdas em São Paulo

In [ ]:
df_seguranca = psql.read_sql('SELECT * FROM ocorrencias_sp;', con=connection)
df_seguranca.head(3)

## População de São Paulo

In [ ]:
sp_populacao = psql.read_sql('SELECT * FROM populacao_sp;', con=connection)
sp_populacao.head(3)

# Realizando as Análises e Visualizações

In [ ]:
# mapassp = gpd.read_file(".//bases_de_dados//geojs-35-mun.json")
# mapassp = mapassp[['id','name', "geometry"]]
# mapassp

## Índice de Nível Socieconômico

Para esta análise, usou-se uma tabela que contém dados que caracterizam brevemente a escola e, principalmente, dados do indicador socioeconômico da escola, o INSE. O indicador varia de 0 a 10, sendo 10 a escola com o nível socioeconômico mais baixo e 0 a escola com nível mais alto. O INSE é calculado a partir dos questionários do SARESP. Ele considera as seguintes variáveis: grau de escolaridade dos pais, posse de bens de consumo duráveis na residência e renda familiar.

Inicialmente, realizou-se a leitura da base com Geopandas e uma filtragem nos dados, para trabalhar somente com o necessário. Posteriormente, ainda, foram unidas as bases de dados com informações espaciais e do INSE do munícipio.

In [ ]:
#selecionando as colunas necessárias
sp_nse = sp_nse[['id_municipio','nivel_socio_economico']].copy()
#tranformando em numérico
sp_nse["nivel_socio_economico"] = pd.to_numeric(sp_nse["nivel_socio_economico"]).copy()
#transformando NaN em 0
sp_nse.fillna(0, inplace = True)
#Renomeando coluna id_municipio para posteriormente juntar as tabelas
sp_nse.rename(columns={"id_municipio": "id"}, inplace = 1)
#agrupando por id e tirando a média
sp_nse=sp_nse.groupby("id").mean()
#juntando as tabelas com a geometria e os dados por id
sp_nse_f = mapassp.join(sp_nse, on="id", how="left")
sp_nse_f

Na primeira plotagem, abaixo, é possível visualizar os nível socioeconômico (média das escolas) por município.

In [ ]:
#plotagem do mapa do INSE por munícipio
fig, ax = plt.subplots(figsize=(10, 10))
sp_nse_f.plot(ax=ax, column='nivel_socio_economico', cmap='coolwarm', legend=True,
                legend_kwds={'label': "Nível socioeconômico", 'shrink': 0.3} )
plt.title('Nível socioeconômico (média das escolas) por município') 
ax.axis('off');

Pelo mapa, é vísivel que alguns munícipios possuem níveis socioeconômicos (média das escolas) mais elevados que outros. O município com melhor índice de nível socioecônomico é águas de São Pedro (1.66), já com o pior INSE, é Itaóca (8.56), como verificado pelos gráficos de barras a seguir, que indicam os 10 melhores e 10 piores INSE.

In [ ]:
df = sp_nse_f[['name','nivel_socio_economico']] #tabela com os dados necessários para fazer os gráficos de barra
df1=df.sort_values('nivel_socio_economico', ascending=False).reset_index().head(10) #ordenação decrescente dos dados 
df2=df.sort_values('nivel_socio_economico').reset_index().head(10)#ordenação crsescente dos dados

In [ ]:
#plotagem do gráfico de barra dos 10 piores INSE com Plotly
fig = px.bar(df1,
             x='name', y="nivel_socio_economico", height=500, width=700,
             barmode='stack', labels={"name": "Nome", 'nivel_socio_economico':"Nível socioeconômico "})
fig.update_layout(title = '10 municípios com piores níveis socioeconômicos (média das escolas)')
fig.update_xaxes(title = 'Município')
fig.update_yaxes(title = 'Nível socioeconômico médio das escolas')
fig.show()

In [ ]:
#plotagem do gráfico de barra dos 10 melhores INSE com Plotly
fig = px.bar(df2,
             x='name', y="nivel_socio_economico", height=500, width=700,
             barmode='stack', labels={"name": "Nome", 'nivel_socio_economico':"Nível socioeconômico "})
fig.update_layout(title = '10 municípios com melhores nível socioeconômico (média das escolas)')
fig.update_xaxes(title = 'Município')
fig.update_yaxes(title = 'Nível socioeconômico médio das escolas')
fig.show()

##  Índice de Desenvolvimento da Educação do Estado de São Paulo

A tabela usada, nesse caso, contém dados da nota do Índice de Desenvolvimento da Educação do Estado de São Paulo (IDESP) para cada escola da rede estadual do estado de São Paulo, estabelecendo metas que as escolas devem alcançar ano a ano e seus resultados. Disponibilizada pela Secretaria de Educação do Estado de São Paulo, a tabela identifica cada escola através de códigos nacionais e estaduais e disponibiliza variáveis que demonstram para aquela dada escola, seu aproveitamento no IDESP. O IDESP é um indicador que avalia a qualidade da escola, sendo composto por dois critérios: o desempenho dos alunos nos exames de proficiência do SARESP (o quanto aprenderam) e o fluxo escolar (em quanto tempo aprenderam).Assim, nesta avaliação, considera–se que uma boa escola é aquela em que a maior parte dos alunos aprende as competências e habilidades requeridas para a sua série/ano, num período de tempo ideal – o ano letivo.

Para a realização das análises, novamente realizou-se uma limpeza nos dados e selecionou-se o ano de 2018.

In [ ]:
#selecionando as colunas necessárias
sp_idesp = sp_idesp[["ano",'id_municipio','nota_idesp_ef_iniciais', "nota_idesp_ef_finais", "nota_idesp_em"]]
#tranformando em numéricos
sp_idesp['nota_idesp_ef_iniciais'] = pd.to_numeric(sp_idesp["nota_idesp_ef_iniciais"])
sp_idesp['nota_idesp_ef_finais'] = pd.to_numeric(sp_idesp["nota_idesp_ef_finais"])
sp_idesp['nota_idesp_em'] = pd.to_numeric(sp_idesp["nota_idesp_em"])
#mudando nome da coluna
sp_idesp.rename(columns={"id_municipio": "id"}, inplace = 1)
#selecionando os dados do ano de 2018
sp_idesp_2018_na = sp_idesp[sp_idesp["ano"] == 2018]
#agrupando por id e tirando a média
sp_idesp_2018_na=sp_idesp_2018_na.groupby("id").mean()
#juntando as tabelas dos dados e da geometria
sp_idesp_2018 = mapassp.join(sp_idesp_2018_na, on="id", how="left")
#tranformando NaN em 0
sp_idesp_2018.fillna(0, inplace = True)

sp_idesp_2018

No mapas a seguir, pode-se visualizar, inicialmente, que as escolas estaduais no estado de São Paulo, em geral, abordam o Ensino Médio, já as séries iniciais possuem muitos valores vazios por município, ou seja, não possuem avaliação do IDESP pois, provavelmente, são escolas municipais que fornecem esse nível de educação.

Ainda, até 2030, a meta é que as escolas alcancem índice 7 para o ciclo que vai do 1° ao 5° ano, índice 6 para o ciclo que vai do 6° ao 9° ano e índice 5 para o Ensino Médio. Pelas plotagens, a séries iniciais parecem estar mais próximas do objetivo, mesmo que tenham que alcançar notas mais altas.

In [ ]:
#plotagem de gráficos do IDESP por nível de ensino
fig, axs = plt.subplots(3, figsize=(10, 12))

sp_idesp_2018.plot(ax=axs[0], column='nota_idesp_em', cmap='Oranges', legend=True, legend_kwds={'label': "Nota média IDESP", 'shrink': 0.5})
axs[0].set_title('Notas do IDESP no Ensino Médio (média das escolas) por município')

sp_idesp_2018.plot(ax=axs[1], column='nota_idesp_ef_finais', cmap='Oranges', legend=True, legend_kwds={'label': "Nota média IDESP", 'shrink': 0.5})
axs[1].set_title('Notas do IDESP no Ensino Fundamental - série finais - (média das escolas) por município')

sp_idesp_2018.plot(ax=axs[2], column='nota_idesp_ef_iniciais', cmap='Oranges', legend=True, legend_kwds={'label': "Nota média IDESP", 'shrink': 0.5})
axs[2].set_title('Notas do IDESP no Ensino Fundamental - série iniciais - (média das escolas) por município')

plt.tight_layout();

In [ ]:
#análises dos IDESP médios do estado por nível
media_efi=sp_idesp_2018_na['nota_idesp_ef_iniciais'].dropna().mean()
media_eff=sp_idesp_2018_na['nota_idesp_ef_finais'].dropna().mean()
media_em=sp_idesp_2018_na['nota_idesp_em'].dropna().mean()

print ("Média IDESP para as séries iniciais:",media_efi)
print ("Média IDESP para as séries finais:",media_eff)
print ("Média IDESP para o Ensino Médio:",media_em)

Com as médias calculadas, observa-se que, realmente,  as séries iniciais, pela média, estão mais próximas de alcançar o objetivo. Contudo, existem munícipios que já alcançaram-no, como verificado pelas tabelas abaixo.

In [ ]:
#analisando municípios que já atingiram a meta do IDESP para 2030
obj_efi=sp_idesp_2018[sp_idesp_2018["nota_idesp_ef_iniciais"] >= 7]
print("Munícipio que já atingiram a meta para séries iniciais (analisando a média):")
obj_efi[['name', "nota_idesp_ef_iniciais"]].sort_values('nota_idesp_ef_iniciais', ascending=False)

In [ ]:
obj_efi=sp_idesp_2018[sp_idesp_2018["nota_idesp_ef_finais"] >= 6]
print("Munícipio que já atingiram a meta para séries finais (analisando a média):")
obj_efi[['name', "nota_idesp_ef_finais"]].sort_values('nota_idesp_ef_finais', ascending=False)

In [ ]:
obj_efi=sp_idesp_2018[sp_idesp_2018["nota_idesp_em"] >= 5]
print("Munícipio que já atingiram a meta para o Ensino Médio (analisando a média):")
obj_efi[['name', "nota_idesp_em"]].sort_values('nota_idesp_em', ascending=False)

## Segurança no Estado de São Paulo

Nesse caso, usou-se uma base de dados com informações mensais das ocorrências registradas pela Secretaria de Segurança Publica de São Paulo (SSP). Fez-se a limpeza de dados e acrescentamos uma coluna de ocorrências totais com os dados que supomos relevantes.

In [ ]:
#removendo coluna
df_seguranca.drop('id', axis='columns', inplace=True)
#renomeando coluna
df_seguranca.rename(columns={"id_municipio": "id"}, inplace = 1)
#selecionando dados do ano de 2018
df_seguranca_2018 = df_seguranca[df_seguranca["ano"] == 2018]
#agrupando por id e somando os valores
df_seguranca_2018 = df_seguranca_2018.groupby("id").sum()
#juntando as tabelas
df_seguranca_2018= mapassp.join(df_seguranca_2018,on="id", how="left")
#somando colunas com dados relevantes sobre ocorrências de criminalidade
df_seguranca_2018["total"]=df_seguranca_2018["homicidio_doloso"]+df_seguranca_2018["homicidio_culposo_por_acidente_de_transito"]+df_seguranca_2018["homicidio_culposo_outros"]+df_seguranca_2018["tentativa_de_homicidio"]+df_seguranca_2018["lesao_corporal_seguida_de_morte"]+df_seguranca_2018["lesao_corporal_dolosa"]+df_seguranca_2018["lesao_corporal_culposa_outras"]+df_seguranca_2018["homicidio_doloso"]+df_seguranca_2018["latrocinio"]+df_seguranca_2018["total_de_estupro"]+df_seguranca_2018["roubo_outros"]+df_seguranca_2018["roubo_de_veiculo"]+df_seguranca_2018["roubo_a_banco"]+df_seguranca_2018["roubo_de_carga"]+df_seguranca_2018["roubo_de_carga"]+df_seguranca_2018["furto_outros"]+df_seguranca_2018["furto_de_veiculo"]

In [ ]:
#plotagem do mapa sobre o total de ocorrências
fig, ax = plt.subplots(figsize=(10, 10))
df_seguranca_2018.plot(ax=ax, column='total', cmap='coolwarm', legend=True, legend_kwds={'shrink': 0.3})
plt.title('Ocorrências de crimes no ano de 2018') 
ax.axis('off');

Na plotagem do mapa do estado com as ocorrências totais, é evidente o quanto São Paulo se destaca com um número de casos bastante elevado em relação aos outros municípios. Já Torre de Pedra é o município com o menor número de ocorrência, apenas 6.

In [ ]:
#munícipio com menores números de ocorrências
menores_ocor=df_seguranca_2018.sort_values('total').reset_index().head(10)
menores_ocor[["name", "total"]]

## IDESP e INSE

Agora parte-se para as análises correlacionadas. Será que o Índice de nível socioeconômico das escolas (média) por munícipio está relacionado com as notas do IDESP?

Para respondermos essa pergunta, novamente criou-se uma nova tabela com os dados necessários.

In [ ]:
#unindo tabelas do INSE e do IDESP por id
IDESP_INSE=sp_nse.join(sp_idesp_2018_na, on="id", how="left")
IDESP_INSE

Ao plotar um gráfico de dispersão, esperava que os dados seguissem uma tendência de quanto menor fossem os INSE (já que quanto mais próximo de 0 melhor), maior seriam as notas do IDESP. Contudo, não é o que acontece.

In [ ]:
#plotando gráfico de dispersão relacionando IDESP e INSE
fig=px.scatter(IDESP_INSE, x = "nivel_socio_economico", y = "nota_idesp_em")
fig.update_traces(marker=dict(size = 8,line = dict(width = 2)),selector=dict(mode = 'markers'))
fig.update_layout(title = 'IDESP X INSE')
fig.update_xaxes(title = 'Notas IDESP - Ensino Médio')
fig.update_yaxes(title = 'índice de nível socioeconômico')
fig.show()

In [ ]:
#Calculando a correlação dos dados
Correlação= IDESP_INSE['nivel_socio_economico'].corr(IDESP_INSE['nota_idesp_em'])
print(f"Correlação dos dados:", Correlação)

Ao analisar a correlação, ela é negativa (que até concordaria com a ideia de quanto melhor o INSE maior o IDESP) e muita baixa (cerca de -0,11), portanto, não pode-se concluir que os dados possuem relação.